# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Flask stuff:
.env
.flaskenv
instance/
.webassets-cache

# Virtual Environments
venv/
venv.bak/
env/
.env/
ENV/
env.bak/
.venv/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~

# Operating System Files
Thumbs.db
db.ini
Desktop.ini
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
